body { background-color: #e6eee8;}
/* body { background-color: #91e0ee;} */

@media print, screen and (min-width: 960px) {

    header, footer {
        background-color: #91e0ee;
        width: 150px;
    }

}

