---
---

@import "{{ site.theme }}";

body { background-color: #766bd6;}

header {
    width:100px;
    background-color: darkred;
}

.wrapper {
    width:1200px;
    margin:0 auto;
}

section {
    width:700px;
    float:right;
    padding-bottom:50px;
}
  
